:root {
    --font-primary: 'Lato', sans-serif;
    --color-primary: #2c3e50;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

::selection {
    background: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    background: var(--color-primary);
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', serif;
    margin: 30px 0;
    border: 2px solid #c0392b;
    padding: 18px 60px;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {
    background: #c0392b;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.6s all ease;
}

.btn1::before {
    width: 0;
    height: 100%;
}

.btn1:hover::before {
    width: 100%;
}

.btn2::before {
    width: 100%;
    height: 0;
}

.btn2:hover::before {
    height: 100%;
}

.btn3::before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before {
    height: 380%;
}

.btn4::before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
    height: 380%;
}

.btn4:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
