:root {
    --font-primary: 'Lato', sans-serif;
    --color-primary: #0f1e25;
    --color-azul: #0074e4;
    --color-verde: #59a173;
    --color-rojo: #e58242;
    --color-teal: teal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

::selection {
    background: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    background: var(--color-primary);
}

.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .btn {
    padding: 20px 40px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    transition: all 0.5s;
    position: relative;
}

.contenedor .btn:hover {
    transform: translateY(-10px);
}

.contenedor .btn-azul {
    background: var(--color-azul);
}

.contenedor .btn-verde {
    background: var(--color-verde);
}

.contenedor .btn-rojo {
    background: var(--color-rojo);
}

.contenedor .btn-teal {
    background: var(--color-teal);
    position: relative;
    overflow: hidden;
}

.contenedor .btn-teal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    transition: transform 1s;
}

.contenedor .btn-teal:hover {
    background: #034646;
}

.contenedor .btn-teal:hover::before {
    transform: translateX(102%);
}
